*,
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;

  width: auto;
  height: auto;
  background-color: #e5e9f8;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 10;

  border: 1px solid #dee2e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul {
  display: flex;
  transform: translatex(-70px);
  -webkit-transform: translatex(-70px);
  -moz-transform: translatex(-70px);
  -ms-transform: translatex(-70px);
  -o-transform: translatex(-70px);
}

li {
  list-style-type: none;
  padding: 15px;
  font-size: 18px;
}

.navbar {
  text-decoration: none;
  color: black;
}

.navbar:hover {
  color: red;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  margin-left: 75px;
  font-size: 40;
}

.logo:hover {
  color: red;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.btn-contact {
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  padding: 8px;
  margin-right: 30px;
  margin-left: 15px;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
}

.img-owner {
  max-width: 470px;
  width: 100%;
  margin-left: -65px;
  justify-content: center;
  align-items: center;
}

.text-intro {
  background-color: #3e4455;
}

.line-text {
  display: flex;
  align-items: center;
  margin: 0px;
}
.line {
  flex-grow: 1; /* Membuat garis mengisi ruang yang tersedia */
  border-bottom: 2px solid #3e4455;
  margin-right: 20px; /* Jarak antara garis dan teks */
  /* Ubah nilai ini untuk mengatur panjang garis */
  max-width: 30px; /* Panjang maksimum garis */
}

.text {
  font-family: "Lato", sans-serif;
  color: #3e4455;
  font-size: 17px;
}

.username {
  width: 90%;
  font-family: inherit;
  margin-top: 20px;
  font-size: 55px;
  font-weight: bold;
  color: #3e4455;
  white-space: nowrap;

  /*animasi transisi I`m Faishal*/
  overflow: hidden;
  width: 0;
  animation: typing 4s ease forwards, reverseTyping 4s ease 6s forwards;
  -webkit-animation: typing 4s ease forwards, reverseTyping 4s ease 6s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

.font-text-intro {
  margin-top: 0px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  width: 85%;
  max-width: 1200px;
  text-align: justify;
  /* Membuat teks rata kanan-kiri */
  flex-wrap: wrap;
  /* Agar elemen bisa berpindah baris jika layar kecil */
  color: #3e4455;
}

.container {
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: 110px;
  padding-bottom: 100px;
  display: flex;
  gap: 1px;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  flex-wrap: wrap;
  background-color: #e5e9f8;
}

.container-1 {
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: 50px;
  display: flex;
  gap: 1px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: -40px;
  flex-direction: column;
}

.container-2 {
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: 50px;
  display: flex;
  gap: 1px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
  background-color: #e5e9f8;
}

.container-3 {
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: 0px;
  display: flex;
  gap: 1px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
  background-color: #e5e9f8;
  margin-top: -80px;
}

.wrapper-skill-1 {
  width: 100%;
  background-color: white;
  font-size: 15px;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 120px;
}

.inclined-text {
  display: inline-block;
  /*Agartransformasibekerjadenganbaik*/
  font-size: 22px;
  /*Ukuranteks*/
  transform: rotate(-90deg);
  /*Kemiringantekstegaklurus*/
  transform-origin: left bottom;
  /*Titikasaltransformasi*/
  white-space: nowrap;
  /*Agartekstidakmembungkus*/
  font-weight: bolder;
  color: #3e4455;
  margin-right: 1110px;
  margin-top: -130px;
}

.wrapper {
  flex-wrap: wrap;
  width: 60%;
}

.btn-next {
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 13px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 20px;
}

.btn-next {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-next:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 12px;
  right: -20px;
  transition: 0.5s;
}

.btn-next:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.btn-next:hover:after {
  opacity: 1;
  right: 10px;
}

.btn-next-1 {
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 13px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 20px;
}

.btn-next-1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-next-1:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 12px;
  right: -20px;
  transition: 0.5s;
}

.btn-next-1:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.btn-next-1:hover:after {
  opacity: 1;
  right: 10px;
}

.wrapper-1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.text-center {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  display: flex;
  gap: 15px;
}

.text-center-logo {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  display: flex;
  gap: 15px;
}

.line-1 {
  flex-grow: 1; /* Membuat garis mengisi ruang yang tersedia */
  border-bottom: 3px solid black;
  margin-right: 20px; /* Jarak antara garis dan teks */
  /* Ubah nilai ini untuk mengatur panjang garis */
  max-width: 30px; /* Panjang maksimum garis */
  margin-right: 5px;
}

.description {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: #3e4455;
}

.title {
  font-weight: 600;
}

.title-1 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  width: 65%;
  max-width: 1200px;
  text-align: justify;
  /* Membuat teks rata kanan-kiri */
  flex-wrap: wrap;
  /* Agar elemen bisa berpindah baris jika layar kecil */
  color: #3e4455;
  margin-left: 60px;
}

.title-2 {
  font-family: "Playfair Display", serif;
  font-size: 55px;
  color: red;
}

.title-3 {
  font-weight: bold;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
}

.wrapper-2 {
  display: flex;
  width: 85%;
  height: auto;
  place-items: center;
  /*Centersitemsbothhorizontallyandvertically*/

  margin-top: 40px;
  gap: 65px;
}

.wrapper-skill {
  width: 100%;
  background-color: white;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -80px;
}

.owner {
  max-width: 380px;
  width: 100%;
  flex-wrap: wrap;
}

.color-red {
  font-family: "Playfair Display", serif;
  color: red;
}

.text-description {
  margin-top: 40px;
}

::selection {
  color: #fff;
  background: #6594ee;
}
.skill-bars {
  padding: 25px 30px;
  margin-top: 70px;
  width: 450px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #3e4455;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.html span {
  width: 75%;
}
.bar .progress-line.css span {
  width: 55%;
}
.bar .progress-line.javascript span {
  width: 35%;
}
.bar .progress-line.microsoft span {
  width: 30%;
}
.bar .progress-line.adobe span {
  width: 15%;
}
.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #37507e;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #37507e;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "75%";
}
.progress-line.css span::after {
  content: "55%";
}
.progress-line.javascript span::after {
  content: "35%";
}
.progress-line.microsoft span::after {
  content: "30%";
}
.progress-line.adobe span::after {
  content: "15%";
}

.skill {
  display: flex;
  gap: 80px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.icons {
  font-size: 28px;
  margin: 12px;
  color: rgb(0, 0, 0);
}

.icons:hover {
  color: red;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.title-project {
  font-family: "Lato", sans-serif;
  display: flex;
  font-size: 18px;
  width: 65%;
  max-width: 1200px;
  text-align: justify;
  /* Membuat teks rata kanan-kiri */
  flex-wrap: wrap;
  /* Agar elemen bisa berpindah baris jika layar kecil */
  color: #3e4455;
  margin-left: 60px;
}

.container-img {
  width: 400px;
  height: auto;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  border: 2px solid #3b3d43;
  transform: translateX(150px);
  -webkit-transform: translateX(150px);
  -moz-transform: translateX(150px);
  -ms-transform: translateX(150px);
  -o-transform: translateX(150px);
}

.container-img-1 {
  width: 400px;
  height: auto;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  border: 2px solid #3b3d43;
  transform: translateX(20px) translateY(70px);
  -webkit-transform: translateX(20px) translateY(70px);
  -moz-transform: translateX(20px) translateY(70px);
  -ms-transform: translateX(20px) translateY(70px);
  -o-transform: translateX(20px) translateY(70px);
}

.container-img-3 {
  width: 400px;
  height: auto;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  border: 2px solid #3b3d43;
  transform: translateX(20px) translateY(-100px);
  -webkit-transform: translateX(20px) translateY(-100px);
  -moz-transform: translateX(20px) translateY(-100px);
  -ms-transform: translateX(20px) translateY(-100px);
  -o-transform: translateX(20px) translateY(-100px);
}

.container-img-2 {
  width: 400px;
  height: auto;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  border: 2px solid #3b3d43;
  transform: translateX(150px) translateY(0px);
  -webkit-transform: translateX(150px) translateY(0px);
  -moz-transform: translateX(150px) translateY(0px);
  -ms-transform: translateX(150px) translateY(0px);
  -o-transform: translateX(150px) translateY(0px);
}

.project-1 {
  width: 400px;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
}

.project {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 40px;
  display: flex;
  background-color: #e5e9f8;
  justify-content: center;
  align-items: center;
}

.project-title {
  font-family: "Roboto", sans-serif !important;
  font-weight: 600;
  color: #3e4455;
  font-size: 23px;
  margin-left: 20px;
}

.project-title-1 {
  font-size: 23px;
  margin-top: -20px;
}

.project-description {
  width: 90%;
  font-family: "Roboto", sans-serif !important;
  color: #3e4455;
  font-size: 18px;
  margin-left: 20px;
  text-align: justify;
}

.project-title-1 {
  font-family: "Zen Dots";
  font-weight: 600;
  color: #3e4455;
  font-size: 28px;
  margin-left: 20px;
}

.project-description-1 {
  font-family: "Roboto", sans-serif !important;
  color: #3e4455;
  font-size: 18px;
  margin-left: 20px;
  margin-top: -20px;
}

.text-project {
  padding-top: 25px;
  margin-top: 20px;
  background-color: #e5e9f8;
}

.background-project {
  margin-left: 70px;
  padding-top: 15px;
}

.btn-next-2 {
  border-radius: 4px;
  background-color: #3e4455;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 13px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.btn-next-2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-next-2:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 12px;
  right: -20px;
  transition: 0.5s;
}

.btn-next-2:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.btn-next-2:hover:after {
  opacity: 1;
  right: 10px;
}

.slideshow-container {
  transform: translateY(30px);
  max-width: 500px;
  position: relative;
  margin: auto;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
}

.icons-1 {
  font-size: 28px;
  color: #363b4a;
  margin-bottom: 20px;
  transform: translateX(-20px);
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
}

.icons-1:hover {
  color: red;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.huruf-icon {
  font-size: 22px;
  color: black;
  margin-left: 40px;
  text-decoration: none;
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}

.text-icon {
  transform: translateX(-25px) translateY(5px);
  -webkit-transform: translateX(-25px) translateY(5px);
  -moz-transform: translateX(-25px) translateY(5px);
  -ms-transform: translateX(-25px) translateY(5px);
  -o-transform: translateX(-25px) translateY(5px);
}

.icons-text {
  color: black;
  text-decoration: none;
  font-size: 24px;
  transform: translateX(70px) translateY(-70px);
  -webkit-transform: translateX(70px) translateY(-70px);
  -moz-transform: translateX(70px) translateY(-70px);
  -ms-transform: translateX(70px) translateY(-70px);
  -o-transform: translateX(70px) translateY(-70px);
}

.icon-1 {
  cursor: pointer;
  margin-right: auto;
  font-size: 40;
  color: #3e4455;
  text-decoration: none;
}

.icon-1:hover {
  color: red;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70%);
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
  }
}

.logo-container-1 {
  margin-top: 90px;
  margin-bottom: 30px;
  width: 99%;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid white;
}

.logos-1 {
  display: flex;
  width: max-content;
  animation: scroll-left 50s linear infinite;
  -webkit-animation: scroll-left 50s linear infinite;
}

.logos-1 img {
  width: 440px;
  height: auto;
  padding: 10px;
  margin: 0 0px;
}

@media screen and (max-width: 1200px) {
  .body {
    padding: 0;
    margin: 0 auto;
  }
  .icons {
    transform: translatex(-70px);
    -webkit-transform: translatex(-70px);
    -moz-transform: translatex(-70px);
    -ms-transform: translatex(-70px);
    -o-transform: translatex(-70px);
  }
  .wrapper {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 0px;
    text-align: center;
  }
  .line {
    width: 100%;
    max-width: 35px;
    margin-left: 5px;
  }
  .text {
    width: 100%;
    max-width: 500px;
    font-size: 15px;
    text-align: left;
  }
  .line-text {
    width: 100%;
    max-width: 500px;
    margin-left: 15px;
  }
  .username {
    width: 100%;
    max-width: 700px;
    font-size: 28px;
  }
  .font-text-intro {
    width: 88%;
    max-width: 500px;
    height: auto;
    font-size: 17px;
    margin-left: 20px;
  }
  .btn-next {
    right: 95px;
    margin-bottom: 70px;
    margin-right: 110px;
  }
  .img-owner {
    width: 80%;
    max-width: 500px;
    margin: auto;
  }
  .wrapper-1 .text-center {
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-align: center;
  }
  .description {
    max-width: 500px;
    font-size: 22px;
    text-align: center;
  }
  .wrapper-2 {
    display: flex;
  }
  .wrapper-1 {
    margin-top: 50px;
    margin-bottom: -110px;
  }
  .wrapper-project {
    margin-top: -50px;
    margin-bottom: 50px;
  }
  .wrapper-skill {
    margin-top: 45px;
    margin-bottom: 50px;
  }
  .owner {
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .title-1 {
    width: 100%;
    max-width: 500px;
    margin-right: 60px;
  }
  .title-3 {
    width: 100%;
    max-width: 280px;
    font-size: 16px;
  }
  .title-2 {
    width: 100%;
    max-width: 1200px;
    font-size: 32px;
    margin-top: 65px;
  }
  .text-description {
    width: 100%;
    max-width: 500px;
    font-size: 17px;
    text-align: inherit;
  }
  .btn-next-1 {
    margin-bottom: 50px;
  }
  .skill {
    margin-top: 20px;
  }
  .skill-bars {
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 30px;
  }

  .project {
    display: flex;
    margin-right: 160px;
  }
  .container-img {
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(120px);
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
  }
  .container-img-1 {
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    margin-top: 30px;
    transform: translateX(90px) translateY(40px);
    -webkit-transform: translateX(90px) translateY(40px);
    -moz-transform: translateX(90px) translateY(40px);
    -ms-transform: translateX(90px) translateY(40px);
    -o-transform: translateX(90px) translateY(40px);
  }
  .container-img-3 {
    margin-top: 140px;
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(90px) translateY(-210px);
    -webkit-transform: translateX(90px) translateY(-210px);
    -moz-transform: translateX(90px) translateY(-210px);
    -ms-transform: translateX(90px) translateY(-210px);
    -o-transform: translateX(90px) translateY(-210px);
  }

  .container-img-2 {
    margin-top: -35px;
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(120px) translateY(-30px);
    -webkit-transform: translateX(120px) translateY(-30px);
    -moz-transform: translateX(120px) translateY(-30px);
    -ms-transform: translateX(120px) translateY(-30px);
    -o-transform: translateX(120px) translateY(-30px);
  }
  .title-project {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .project-title-1 {
    font-size: 23px;
    margin-top: -20px;
  }
  .project-1 {
    width: 300px;
  }
  .project-description {
    width: 85%;
    text-align: justify;
  }
  .background-project {
    margin-left: 110px;
  }
}

@media screen and (max-width: 1000px) {
  .body {
    padding: 0;
    margin: 0 auto;
  }
  .icons {
    transform: translatex(-80px);
    -webkit-transform: translatex(-80px);
    -moz-transform: translatex(-80px);
    -ms-transform: translatex(-80px);
    -o-transform: translatex(-80px);
  }
  .title {
    font-size: 30px;
  }
  .wrapper {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 0px;
    text-align: center;
  }
  .line {
    width: 100%;
    max-width: 35px;
    margin-left: 5px;
  }
  .title {
    font-size: 30px;
  }
  .text {
    width: 100%;
    max-width: 500px;
    font-size: 15px;
    text-align: left;
  }
  .line-text {
    width: 100%;
    max-width: 500px;
    margin-left: 15px;
  }
  .username {
    width: 100%;
    max-width: 700px;
    font-size: 28px;
  }
  .font-text-intro {
    width: 88%;
    max-width: 500px;
    height: auto;
    font-size: 17px;
    margin-left: 20px;
  }
  .btn-next {
    right: 95px;
    margin-bottom: 70px;
    margin-right: 110px;
  }
  .img-owner {
    width: 80%;
    max-width: 500px;
    margin: auto;
  }
  .wrapper-1 .text-center {
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-align: center;
  }
  .description {
    max-width: 500px;
    font-size: 22px;
    text-align: center;
  }
  .wrapper-2 {
    flex-direction: column;
  }
  .wrapper-1 {
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .wrapper-project {
    margin-top: -50px;
    margin-bottom: 50px;
  }
  .wrapper-skill {
    margin-top: 45px;
    margin-bottom: 50px;
  }
  .owner {
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .title-1 {
    width: 100%;
    max-width: 500px;
    margin-right: 60px;
  }
  .title-3 {
    width: 100%;
    max-width: 280px;
    font-size: 16px;
  }
  .title-2 {
    width: 100%;
    max-width: 1200px;
    font-size: 32px;
    margin-top: 65px;
  }
  .text-description {
    width: 100%;
    max-width: 500px;
    font-size: 17px;
    text-align: inherit;
  }
  .btn-next-1 {
    margin-bottom: 50px;
  }
  .skill {
    margin-top: 20px;
  }
  .skill-bars {
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 30px;
  }

  .project {
    display: flex;
    margin-right: 160px;
  }
  .container-img {
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(70px);
    -webkit-transform: translateX(70px);
    -moz-transform: translateX(70px);
    -ms-transform: translateX(70px);
    -o-transform: translateX(70px);
  }
  .container-img-1 {
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    margin-top: 30px;
    transform: translateX(30px) translateY(40px);
    -webkit-transform: translateX(30px) translateY(40px);
    -moz-transform: translateX(30px) translateY(40px);
    -ms-transform: translateX(30px) translateY(40px);
    -o-transform: translateX(30px) translateY(40px);
  }
  .container-img-3 {
    margin-top: 140px;
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(30px) translateY(-190px);
    -webkit-transform: translateX(30px) translateY(-190px);
    -moz-transform: translateX(30px) translateY(-190px);
    -ms-transform: translateX(30px) translateY(-190px);
    -o-transform: translateX(30px) translateY(-190px);
  }

  .container-img-2 {
    margin-top: -35px;
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(70px) translateY(-30px);
    -webkit-transform: translateX(70px) translateY(-30px);
    -moz-transform: translateX(70px) translateY(-30px);
    -ms-transform: translateX(70px) translateY(-30px);
    -o-transform: translateX(70px) translateY(-30px);
  }
  .title-project {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .project-1 {
    width: 300px;
  }
  .project-title-1 {
    font-size: 23px;
    margin-top: -20px;
  }
  .project-description {
    width: 85%;
    text-align: justify;
  }
  .background-project {
    margin-left: 90px;
  }
  .text-project {
    padding-top: 25px;
  }
}
@media screen and (max-width: 980px) {
  .body {
    padding: 0;
    margin: 0 auto;
  }
  .icons {
    transform: translatex(-80px);
    -webkit-transform: translatex(-80px);
    -moz-transform: translatex(-80px);
    -ms-transform: translatex(-80px);
    -o-transform: translatex(-80px);
  }
  .wrapper {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 0px;
    text-align: center;
  }
  .line {
    width: 100%;
    max-width: 35px;
    margin-left: 5px;
  }
  .text {
    width: 100%;
    max-width: 500px;
    font-size: 15px;
    text-align: left;
  }
  .line-text {
    width: 100%;
    max-width: 500px;
    margin-left: 15px;
  }
  .title {
    font-size: 30px;
  }
  .username {
    width: 100%;
    max-width: 700px;
    font-size: 28px;
    margin-left: 32px;
  }
  .font-text-intro {
    width: 88%;
    max-width: 500px;
    height: auto;
    font-size: 17px;
    margin-left: 20px;
  }
  .btn-next {
    right: 95px;
    margin-bottom: 70px;
    margin-right: 110px;
  }
  .img-owner {
    width: 80%;
    max-width: 500px;
    margin: auto;
  }
  .wrapper-1 .text-center {
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-align: center;
  }
  .description {
    max-width: 500px;
    font-size: 22px;
    text-align: center;
  }
  .wrapper-2 {
    flex-direction: column;
  }
  .wrapper-1 {
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .wrapper-project {
    margin-top: -50px;
    margin-bottom: 50px;
  }
  .wrapper-skill {
    margin-top: 45px;
    margin-bottom: 50px;
  }
  .owner {
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .title-1 {
    width: 100%;
    max-width: 500px;
    margin-right: 60px;
  }
  .title-3 {
    width: 100%;
    max-width: 280px;
    font-size: 16px;
  }
  .title-2 {
    width: 100%;
    max-width: 1200px;
    font-size: 32px;
    margin-top: 65px;
  }
  .text-description {
    width: 100%;
    max-width: 500px;
    font-size: 17px;
    text-align: inherit;
  }
  .btn-next-1 {
    margin-bottom: 50px;
  }
  .skill {
    margin-top: 20px;
  }
  .skill-bars {
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 30px;
  }

  .project {
    display: flex;
    margin-right: 160px;
  }
  .container-img {
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(70px);
    -webkit-transform: translateX(70px);
    -moz-transform: translateX(70px);
    -ms-transform: translateX(70px);
    -o-transform: translateX(70px);
  }
  .container-img-1 {
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    margin-top: 30px;
    transform: translateX(30px) translateY(40px);
    -webkit-transform: translateX(30px) translateY(40px);
    -moz-transform: translateX(30px) translateY(40px);
    -ms-transform: translateX(30px) translateY(40px);
    -o-transform: translateX(30px) translateY(40px);
  }
  .container-img-3 {
    margin-top: 140px;
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(30px) translateY(-190px);
    -webkit-transform: translateX(30px) translateY(-190px);
    -moz-transform: translateX(30px) translateY(-190px);
    -ms-transform: translateX(30px) translateY(-190px);
    -o-transform: translateX(30px) translateY(-190px);
  }

  .container-img-2 {
    margin-top: -35px;
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(70px) translateY(-30px);
    -webkit-transform: translateX(70px) translateY(-30px);
    -moz-transform: translateX(70px) translateY(-30px);
    -ms-transform: translateX(70px) translateY(-30px);
    -o-transform: translateX(70px) translateY(-30px);
  }
  .title-project {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .project-1 {
    width: 300px;
  }
  .project-title-1 {
    font-size: 23px;
    margin-top: -20px;
  }
  .project-description {
    width: 85%;
    text-align: justify;
  }
  .background-project {
    margin-left: 90px;
  }
  .text-project {
    padding-top: 25px;
  }
}

@media screen and (max-width: 430px) {
  .body {
    padding: 0;
    margin: 0 auto;
  }
  nav ul {
    display: none;
    transform: translatex(-15px);
    -webkit-transform: translatex(-15px);
    -moz-transform: translatex(-15px);
    -ms-transform: translatex(-15px);
    -o-transform: translatex(-15px);
  }
  .icons {
    transform: translatex(-60px);
    -webkit-transform: translatex(-60px);
    -moz-transform: translatex(-60px);
    -ms-transform: translatex(-60px);
    -o-transform: translatex(-60px);
  }
  .wrapper {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 0px;
    text-align: center;
  }
  .line {
    width: 100%;
    max-width: 35px;
    margin-left: 5px;
  }
  .text {
    width: 100%;
    max-width: 500px;
    font-size: 15px;
    text-align: left;
  }
  .line-text {
    width: 100%;
    max-width: 500px;
    margin-left: 15px;
  }
  .username {
    width: 0;
    overflow: hidden;
    max-width: 700px;
    font-size: 28px;
    margin-left: 20px;
  }
  .font-text-intro {
    width: 88%;
    max-width: 500px;
    height: auto;
    font-size: 17px;
    margin-left: 20px;
  }
  .btn-next {
    right: 95px;
    margin-bottom: 70px;
    margin-left: 50px;
  }
  .img-owner {
    width: 87%;
    max-width: 500px;
    margin: auto;
  }
  .wrapper-1 .text-center {
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-align: center;
  }
  .description {
    max-width: 500px;
    font-size: 22px;
    text-align: center;
  }
  .wrapper-2 {
    flex-direction: column;
  }
  .wrapper-1 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .wrapper-project {
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 50px;
  }
  .wrapper-skill {
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .title {
    font-size: 30px;
  }
  .owner {
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -40px;
  }
  .title-1 {
    width: 100%;
    max-width: 500px;
    margin-right: 60px;
    margin-top: -50px;
  }
  .title-3 {
    width: 100%;
    max-width: 280px;
    font-size: 16px;
  }
  .title-2 {
    width: 100%;
    max-width: 1200px;
    font-size: 32px;
    margin-top: 65px;
  }
  .text-description {
    width: 100%;
    max-width: 500px;
    font-size: 17px;
    text-align: inherit;
  }
  .btn-next-1 {
    margin-bottom: 50px;
  }
  .skill {
    flex-direction: column;
  }
  .skill-bars {
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 30px;
  }

  .project {
    flex-direction: column;
    flex-wrap: wrap;
    display: block;
    transform: translateX(60px);
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
  }
  .container-img {
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  .container-img-1 {
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    margin-top: 30px;
  }

  .container-img-3 {
    margin-top: 140px;
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(-20px) translateY(-100px);
    -webkit-transform: translateX(-20px) translateY(-100px);
    -moz-transform: translateX(-20px) translateY(-100px);
    -ms-transform: translateX(-20px) translateY(-100px);
    -o-transform: translateX(-20px) translateY(-100px);
  }

  .container-img-2 {
    margin-top: -35px;
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(-20px) translateY(0px);
    -webkit-transform: translateX(-20px) translateY(0px);
    -moz-transform: translateX(-20px) translateY(0px);
    -ms-transform: translateX(-20px) translateY(0px);
    -o-transform: translateX(-20px) translateY(0px);
  }
  .title-project {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .project-1 {
    width: 300px;
  }
  .project-description {
    width: 85%;
    text-align: justify;
  }
  .background-project {
    margin-left: 10px;
  }
  .logo {
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }

  .icons-1 {
    font-size: 28px;
    margin-bottom: 16px;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  .icons-1:hover {
    color: red;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
  }

  .huruf-icon {
    font-size: 20px;
    color: black;
    text-decoration: none;
  }

  .text-icon {
    transform: translateX(-20px) translateY(5px);
    -webkit-transform: translateX(-20px) translateY(5px);
    -moz-transform: translateX(-20px) translateY(5px);
    -ms-transform: translateX(-20px) translateY(5px);
    -o-transform: translateX(-20px) translateY(5px);
  }

  .icons-text {
    width: 10px;
    font-size: 20px;
    transform: translateX(70px) translateY(-60px);
    -webkit-transform: translateX(70px) translateY(-60px);
    -moz-transform: translateX(70px) translateY(-60px);
    -ms-transform: translateX(70px) translateY(-60px);
    -o-transform: translateX(70px) translateY(-60px);
  }

  .container-3 {
    margin-top: -160px;
  }

  .container-owner {
    margin-top: -60px;
  }
  .container {
    width: 100%;
    height: 740px;
    margin-top: -45px;
  }
  .container-3 {
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 0px;
    display: flex;
    gap: 1px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: column;
    background-color: #e5e9f8;
    margin-top: -80px;
  }

  .wrapper-skill-1 {
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 120px;
  }
  .logos-1 img {
    width: 290px;
    margin: 0 -20px;
    margin-top: -50px;
    margin-bottom: -5px;
  }
  .project-akhir {
    height: 1250px;
  }
}
@media screen and (max-width: 400px) {
  .body {
    padding: 0;
    margin: 0 auto;
  }
  nav ul {
    display: none;
    transform: translatex(-15px);
    -webkit-transform: translatex(-15px);
    -moz-transform: translatex(-15px);
    -ms-transform: translatex(-15px);
    -o-transform: translatex(-15px);
  }
  .icon {
    transform: translatex(40px);
    -webkit-transform: translatex(40px);
    -moz-transform: translatex(40px);
    -ms-transform: translatex(40px);
    -o-transform: translatex(40px);
  }
  .wrapper {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 0px;
    text-align: center;
  }
  .line {
    width: 100%;
    max-width: 35px;
    margin-left: 5px;
  }
  .text {
    width: 100%;
    max-width: 500px;
    font-size: 15px;
    text-align: left;
  }
  .line-text {
    width: 100%;
    max-width: 500px;
    margin-left: 15px;
  }
  .username {
    width: 0;
    overflow: hidden;
    max-width: 700px;
    font-size: 28px;
    margin-left: 20px;
  }
  .font-text-intro {
    width: 88%;
    max-width: 500px;
    height: auto;
    font-size: 17px;
    margin-left: 20px;
  }
  .btn-next {
    right: 95px;
    margin-bottom: 70px;
    margin-left: 120px;
  }
  .img-owner {
    width: 87%;
    max-width: 500px;
    margin: auto;
  }
  .wrapper-1 .text-center {
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-align: center;
  }
  .description {
    max-width: 500px;
    font-size: 22px;
    text-align: center;
  }
  .wrapper-2 {
    flex-direction: column;
  }
  .wrapper-1 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .wrapper-project {
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 50px;
  }
  .wrapper-skill {
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .title {
    font-size: 30px;
  }
  .owner {
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .title-1 {
    width: 100%;
    max-width: 500px;
    margin-right: 60px;
    margin-top: -50px;
  }
  .title-3 {
    width: 100%;
    max-width: 280px;
    margin-top: 50px;
    font-size: 16px;
  }

  .title-2 {
    width: 100%;
    max-width: 1200px;
    font-size: 32px;
    margin-top: 65px;
  }
  .text-description {
    width: 100%;
    max-width: 500px;
    font-size: 17px;
    text-align: inherit;
  }
  .btn-next-1 {
    margin-bottom: 50px;
  }
  .skill {
    flex-direction: column;
  }
  .skill-bars {
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 30px;
  }

  .project {
    flex-direction: column;
    flex-wrap: wrap;
    display: block;
    transform: translateX(35px);
    -webkit-transform: translateX(35px);
    -moz-transform: translateX(35px);
    -ms-transform: translateX(35px);
    -o-transform: translateX(35px);
  }
  .container-img {
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  .container-img-1 {
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    margin-top: 30px;
  }

  .container-img-3 {
    margin-top: 140px;
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(-20px) translateY(-100px);
    -webkit-transform: translateX(-20px) translateY(-100px);
    -moz-transform: translateX(-20px) translateY(-100px);
    -ms-transform: translateX(-20px) translateY(-100px);
    -o-transform: translateX(-20px) translateY(-100px);
  }

  .container-img-2 {
    margin-top: -35px;
    width: 300px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border: 2px solid #3b3d43;
    transform: translateX(-20px) translateY(0px);
    -webkit-transform: translateX(-20px) translateY(0px);
    -moz-transform: translateX(-20px) translateY(0px);
    -ms-transform: translateX(-20px) translateY(0px);
    -o-transform: translateX(-20px) translateY(0px);
  }
  .title-project {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .project-1 {
    width: 300px;
  }
  .project-description {
    width: 85%;
    text-align: justify;
  }
  .background-project {
    margin-left: 10px;
  }
  .logo {
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }

  .icons-1 {
    font-size: 28px;
    margin-bottom: 16px;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  .icons-1:hover {
    color: red;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
  }

  .huruf-icon {
    font-size: 20px;
    color: black;
    text-decoration: none;
  }

  .text-icon {
    transform: translateX(-20px) translateY(5px);
    -webkit-transform: translateX(-20px) translateY(5px);
    -moz-transform: translateX(-20px) translateY(5px);
    -ms-transform: translateX(-20px) translateY(5px);
    -o-transform: translateX(-20px) translateY(5px);
  }

  .icons-text {
    width: 10px;
    font-size: 20px;
    transform: translateX(70px) translateY(-60px);
    -webkit-transform: translateX(70px) translateY(-60px);
    -moz-transform: translateX(70px) translateY(-60px);
    -ms-transform: translateX(70px) translateY(-60px);
    -o-transform: translateX(70px) translateY(-60px);
  }

  .container-3 {
    margin-top: -160px;
  }

  .container-owner {
    margin-top: -60px;
  }
  .container {
    width: 100%;
    height: 715px;
    margin-top: -45px;
  }
  .container-3 {
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 0px;
    display: flex;
    gap: 1px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: column;
    background-color: #e5e9f8;
    margin-top: -80px;
  }

  .wrapper-skill-1 {
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 120px;
  }
  .logos-1 img {
    width: 290px;
    margin: 0 -20px;
    margin-top: -50px;
    margin-bottom: -5px;
  }
  .project-akhir {
    height: 1250px;
  }
}
